<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<!--SEO-->
{% block title %}Home{% endblock title %}
{% block description %}Home{% endblock description %}
{% block titleop %}Home{% endblock titleop %}
{% block description_op %}Home{% endblock description_op %}

<!--Body-->
{% block main_body_data %}
    {% include "navbar.html" %}
    

    {% include "footer.html" %}
{% endblock %}


<!--JS-->
{% block child_js_above_files %} 
{% endblock %}

{% block child_js_below_files %} 
{% endblock %}