{% load static %}

<!-- BANNER COPYRIGHT -->
<section id="copyright">
    <div class="container-fluid bg-secundario color-secundario" >
        <div class="container">
            <div class="row banner-copy color-primario justify-content-end">
                <div class="col-md-6 col-lg-8">
                    <h5 class="p-0 m-0">
                        <strong>© Copyright 2021 Herrera & García Asesores Financieros y Patrimoniales </strong>
                    </h5>
                </div>
                <div class="col-md-6 col-lg-4 text-md-end">
                    <h5 class="p-0 m-0 ">
                        Desarrollado por
                        <a class="color-acento " href="https://shake.mx/" target="blank">
                        Shake
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>