<section id="footer">
    <div class="container bg-primario color-secundario">
        <div class="row justify-content-between">
            {% for seguro in seguros %}        
            <div class="col-12 col-lg-6">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-5 my-3">
                        <div class="text-center text-md-start">                               
                            <img src="{{ seguro.seguro.producto.seguro.empresa.logo }}" alt="{{seguro.seguro.producto.seguro.empresa.nombre}}| Consultores Patrimoniales" class="navLogo"/>
                        </div>
                        <br>
                        <h5 class="color-texto">
                            Asesores Financieros y Patrimoniales. Profesionales en Seguros
                            para Personas Individual-Colectivo-Especiales; Empresas
                            Activos-Personal; Banca; Créditos Hipotecario-PYME; Inversión
                            Patrimonial.
                        </h5>
                    </div>
                    <div class="col-12 col-md-5 my-2">
                        <div>
                            <h3 class="text-center text-md-start">Contacto</h3>
                        </div>
                        <br>
                        <div class="my-2">
                            <a href="tel:{{seguro.seguro.producto.seguro.empresa.telefono}}" target="_blank">
                                <i class="fas fa-phone-alt" style="color: #3da9fc; width: 1.5rem;"></i>
                                <h5 class="color-texto d-inline">{{ seguro.seguro.producto.seguro.empresa.telefono }}</h5>
                            </a>
                        </div>
                        <div class="my-2">
                            <a href="https://finanzashyg.setmore.com/bookappointment" target="_blank">
                                <i class="fa-solid fa-mug-hot" style="color: #3da9fc; width: 1.5rem"></i>
                                <h5 class="color-texto d-inline">Programar Reunión</h5>
                            </a>
                        </div>
                        <div class="my-2">
                            <a href="https://wa.me/521{{seguro.seguro.producto.seguro.empresa.movil}}?text=Hola%20" target="_blank">
                                <i class="fa-brands fa-whatsapp" style="color: #3da9fc; width: 1.5rem"></i>
                                <h5 class="color-texto d-inline">{{ seguro.seguro.producto.seguro.empresa.movil }}</h5>
                            </a>
                        </div>
                        <div class="my-2">
                            <a href="{{ seguro.seguro.producto.seguro.empresa.facebook }}" target="_blank">
                                <i class="fa-brands fa-facebook-f" style="color: #3da9fc; width: 1.5rem"></i>
                                <h5 class="color-texto d-inline">{{ seguro.seguro.producto.seguro.empresa.facebook|cut:'https://www.facebook.com/' }}</h5>
                            </a>
                        </div>
                        <div class="my-2">
                            <a href="mailto:{{ seguro.seguro.producto.seguro.empresa.email }}" target="_blank">
                                <i class="fa-solid fa-envelope" style="color: #3da9fc; width: 1.5rem;"></i>
                                <h5 class="color-texto d-inline">{{ seguro.seguro.producto.seguro.empresa.email }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 col-lg-6">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-5">
                        <div>
                            <h3 class="text-center text-md-start">Portafolio</h3>
                        </div>
                        <br>
                        {% for seguro in seguros %}        
                        <div class="my-2">
                            <a href="#" target="_blank">
                                <h5 class="color-texto d-inline">{{ seguro.seguro.producto.seguro.nombre }}</h5>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-5">
                        <div>
                            <h3 class="text-center text-md-start">Menú</h3>
                        </div>
                        <br>
                        <h5 class="color-texto">
                            <ul>
                                <li class="hg">
                                    Inicio
                                </li>
                                <li class="hg">
                                    Nosotros
                                </li>
                                <li class="hg">
                                    Alianzas
                                </li>
                                <li class="hg">
                                    Favoritos
                                </li>
                                <li class="hg">
                                    Preguntas Frecuentes
                                </li>
                                <li class="hg">
                                    Testimonios
                                </li>
                                <li class="hg">
                                    Agentes
                                </li>
                            </ul>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>